.letter-box {
  border: 1px solid rgb(164, 164, 164);
  width: 5rem;
  height: 5rem;
  margin: 0.2rem;
  text-align: center;
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
}

.letter-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transform-origin: top;
  transform: scaleY(0);
}

.letter-box.flip::before {
  animation: colorFlip 0.5s ease-in-out forwards;
}

@keyframes colorFlip {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.letter-box.correct::before {
  background-color: green;
}
.letter-box.present::before {
  background-color: rgb(181, 159, 59);
}
.letter-box.absent::before {
  background-color: rgb(58, 58, 60);
}

.letter-box.correct,
.letter-box.present,
.letter-box.absent {
  color: white;
}

.letter-box.correct {
  background-color: green;
  border-color: green;
}
.letter-box.present {
  background-color: rgb(181, 159, 59);
  border-color: rgb(181, 159, 59);
}
.letter-box.absent {
  background-color: rgb(58, 58, 60);
  border-color: rgb(58, 58, 60);
}