.letter-box{
    border: 1px solid rgb(164, 164, 164);
    width: 5rem;
    height: 5rem;
    margin: .2rem;
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}