h1 {
  color: rgb(251, 217, 0);
  text-align: center;
  text-shadow: 2px 2px 4px rgb(74, 3, 254);
  user-select: none;
}

@media screen and (max-width: 768px) {
*{transform: scale(.8);}
}

@media screen and (max-width: 480px) {
 *{transform: scale(.7);}
}