.key-button {
  border: none;
  width: 5rem;
  height: 5rem;
  margin: 0.2rem;
  text-align: center;
  font-size: 4rem;
  background-color: rgb(204, 203, 203);
  font-family: 'Times New Roman', Times, serif;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    scale: 1.05;
    background-color: rgb(213, 213, 213);
    box-shadow:inset 1px 1px rgba(66, 66, 104, 0.255);
  }
}
.key-button .correct {
  background-color: green;
}
.letter-button .present {
  background-color: yellow;
}
.letter-button .absent {
  background-color: gray;
}
